.header {
    display: grid;
    grid-template-columns: auto 1fr;

    padding-right: 5rem;
    
    background-color: whitesmoke;

    border-bottom: 1px solid #ff6f3c;
}

.header__logo {
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    
    margin-bottom: none;
    padding-bottom: none;

    width: 3.5rem;
    height: 3rem;

    border-radius: 50%;
    border: 1px solid black;

}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}

@media (min-width: 44rem ) {
    @media (prefers-reduced-motion: no-preference) {
        .header {
            animation: border_anim 2s linear forwards;
        }
      }
}


